html,body{
  height: 100%;
  width: 100%;
}

.landingwrapper{
  height: 100%;
}

.container1{
  height: 100%;
  background-color: black;
}

.container2{
  background-color: #f7ed7e;
}

.h1my{
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.content{
  margin-top: 150px;
}

.introwords{
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

.imground{
  border-radius: 50%;
}

.buttonlanding{
  background-color: Transparent;
}

.starcolor{
  background-color: black;
}

.container3{
  background-color: #f7ed7e;
}

.container4{
  background-color: #f7ed7e;
}

.container5{
  background-color: #f7ed7e;
}

.container6{
  background-color: black;
  color: white;
}


.addressicon{
  color: white;
}
